body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cPointer {
  cursor: pointer !important;
}
.shadow {
  box-shadow: 0px 10px 15px 11px rgba(0, 0, 0, 0.1) !important;
}
textarea {
  border-radius: 5px;
  color: rgba(0, 63, 128, 0.5);
  border: 1px solid #a3bad1;
  height: 32px;
  padding-left: 5px;
  overflow: hidden;
}
textarea:focus {
  color: gray;
}
.bordered {
  border-bottom: 1px dashed rgb(150, 148, 148);
  /* border-left: 2px dashed rgb(150, 148, 148); */
}
